.green{
    color: rgb(74 222 128);
}

.red{
    color: #e11d48;
}

body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.error{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.error i{
    font-size: xx-large;
}

.container{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    font-size: large;
    box-sizing: border-box;
}

.container h1{
    margin: 10px 0;
    font-size: x-large;
    font-weight: 600;
}

.container h4{
    font-weight: 600;
    margin: 20px 0;
}

.container input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    font-size: large;
    font-weight: 500;
    min-width: 400px;
}

.container button {
    padding: 10px;
    background-color: #38bdf8;
    border: 1px solid #38bdf8;
    color: white;
    border-radius: 5px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}

.criteria{
    display: flex;
    gap: 50px;
}

.result-box{
    border-top: 2px solid #e5e7eb;
    margin: 20px 0;
}